<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCrafters Programming Class</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <section class="bg-gray-900 text-white">
        <div class="mx-auto max-w-screen-xl px-4 py-8 flex min-h-screen items-center">
            <div class="mx-auto max-w-3xl text-center">
                <div
                    class="mb-4 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl py-1">
                    Curriculum
                </div>

                <div class="text-left flex flex-col gap-4" id="curriculum">

                    <div class="week">
                        <h2 id="week-1-what-is-programming"><span>Week 1:</span> What is programming?</h2>
                        <h3 id="session-1"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- Introduction to programming: What is coding?
                                Why
                                is it important?
                            </li>
                            <li>- Real-life examples in various fields such as automation, data analysis and web
                                development.
                            </li>
                        </ul>
                        <h3 id="session-2"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- Variables: Primitive types</li>
                            <li>- Data Structures</li>
                        </ul>
                    </div>

                    <div class="week">

                        <h2 id="week-2-basic-programming-constructs"><span>Week 2:</span> Basic Programming Constructs
                        </h2>
                        <h3 id="session-1-1"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- Loops, and if statements / logic operators</li>
                        </ul>
                        <h3 id="session-2-1"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- Functions + More Data Structures</li>
                        </ul>
                    </div>

                    <div class="week">

                        <h2 id="week-3-libraries-and-modules"><span>Week 3:</span> Libraries and Modules</h2>
                        <h3 id="session-1-2"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- Imports / Modules / Libraries</li>
                            <li>- Introduce <span>Turtle</span> library.</li>
                        </ul>
                        <h3 id="session-2-2"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- <span>Project:</span> Turtle project! Practice everything we&#39;ve learned so far.
                            </li>
                        </ul>

                    </div>

                    <div class="week">

                        <h2 id="week-4-turtle-projects"><span>Week 4:</span> Turtle projects</h2>
                        <h3 id="session-1-3"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- Employ Python conditions and loops to draw basic shapes.</li>
                        </ul>
                        <h3 id="session-2-3"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- <span>Project:</span> Turtle project! Draw countries flags with <span>Turtle</span>.
                            </li>
                        </ul>

                    </div>


                    <div class="week">

                        <h2 id="week-5-data-manipulation"><span>Week 5:</span> Data Manipulation</h2>
                        <h3 id="session-1-4"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- Discover <span>CSV</span> and <span>Panda</span> libraries.</li>
                        </ul>
                        <h3 id="session-2-4"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- <span>Project:</span> Get data from a <strong>CSV</strong> spreadsheet</li>
                        </ul>

                    </div>


                    <div class="week">

                        <h2 id="week-6-introduction-to-web-development"><span>Week 6:</span> Introduction to Web
                            Development
                        </h2>
                        <h3 id="session-1-5"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- How does the web work?</li>
                            <li>- What is 3-tier architecture?</li>
                        </ul>
                        <h3 id="session-2-5"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- HTML &amp; CSS</li>
                        </ul>

                    </div>


                    <div class="week">

                        <h2 id="week-7-deep-dive-into-web-development"><span>Week 7:</span> Deep dive into web
                            development
                        </h2>
                        <h3 id="session-1-6"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- More HTML &amp; CSS</li>
                        </ul>
                        <h3 id="session-2-6"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- Javascript - Introduce a new programming language!</li>
                        </ul>

                    </div>


                    <div class="week">

                        <h2 id="week-8-getting-familiar-with-html--css"><span>Week 8:</span> Getting familiar with HTML
                            &amp; CSS!</h2>
                        <h3 id="session-1-7"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- <span>Project:</span> Create a static page \w HTML &amp; CSS</li>
                        </ul>
                        <h3 id="session-2-7"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- <strong>JQuery</strong> JS library</li>
                            <li>- <span>Project:</span> create a login page with validation using
                                <strong>JQuery</strong>
                            </li>
                        </ul>

                    </div>


                    <div class="week">

                        <h2 id="week-9-lets-go-server-side"><span>Week 9:</span> Let&#39;s go server side!</h2>
                        <h3 id="session-1-8"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- How do servers work?</li>
                            <li>- Quick look at <span>PHP</span> programming language!</li>
                        </ul>
                        <h3 id="session-2-8"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- Backend development with <span>Flask</span> Framework.</li>
                        </ul>

                    </div>


                    <div class="week">

                        <h2 id="week-10-databases"><span>Week 10:</span> Databases</h2>
                        <h3 id="session-1-9"><strong>Session 1:</strong></h3>
                        <ul>
                            <li>- What are Databases?</li>
                            <li>- <span>MySQL</span> database</li>
                            <li>- <span>SQL</span> programming language</li>
                        </ul>
                        <h3 id="session-2-9"><strong>Session 2:</strong></h3>
                        <ul>
                            <li>- <span>Project:</span> Create a static landing page using HTML &amp; CSS &amp; JS</li>
                        </ul>

                    </div>


                    <div class="week">

                        <h2 id="final-milestone-team-project"><span>Final Milestone</span> (Team Project)</h2>
                        <p>Fetch data from YouTube API for a user-specified video using <strong>Flask</strong> and
                            display
                            the information on an interactive page created with HTML, CSS, and JavaScript.</p>
                        <p>This project was excellent for learning how to work with Python libraries like PyTube and
                            send
                            HTTP requests to the server with AJAX.</p>
                        <ul>
                            <li>- <strong>Deadline</strong>: <span>2 weeks</span></li>
                        </ul>

                    </div>

                    <div class="text-center my-4 flex flex-col gap-2">
                        <div
                            class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl py-1">
                            What's Next?
                        </div>
                        <h2 class="text-lg text-gray-400">
                            — Choose Your Specialization —
                        </h2>
                        <p class="text-base text-gray-200">After completing the Fundamentals of Programming course, it's
                            time to choose
                            your
                            path! Whether you're interested in frontend or backend development,
                            Explore your chosen specialization and check out the full roadmap to guide your journey at
                            <a target="_blank" class="text-blue-400 hover:text-blue-600"
                                href="https://roadmap.sh/">roadmap.sh</a>
                        </p>
                    </div>



                </div>


                <div class="my-8 flex flex-wrap justify-center gap-4 ">
                    <a class="flex justify-center w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
                        href="https://discord.gg/uUHZBU2Fa3">
                        <div class="flex gap-2 items-center">
                            <svg class="size-5 text-gray-800 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                viewBox="0 0 24 24">
                                <path
                                    d="M18.942 5.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.586 11.586 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3 17.392 17.392 0 0 0-2.868 11.662 15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.638 10.638 0 0 1-1.706-.83c.143-.106.283-.217.418-.331a11.664 11.664 0 0 0 10.118 0c.137.114.277.225.418.331-.544.328-1.116.606-1.71.832a12.58 12.58 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM8.678 14.813a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.929 1.929 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z" />
                            </svg>
                            Discord
                        </div>

                    </a>

                    <a class="flex justify-center w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
                        href="/validate">
                        <div class="flex gap-2 items-center">
                            <svg class="size-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                            </svg>


                            Certificates
                        </div>
                    </a>
                </div>
                <div class="flex justify-center mt-4">
                    <a href="/ " class="text-slate-600 underline hover:text-slate-200">
                        Back Home
                    </a>
                </div>
            </div>
    </section>
</body>

</html>
