<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeCrafters Programming Class</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <header>
      <nav class="border-gray-800 border-b-2 px-4 py-2.5 lg:px-6 bg-gray-900">
        <div
          class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between"
        >
          <a href="/" class="flex items-center">
            <div
              class="bg-gradient-to-r font-semibold self-center text-xl whitespace-nowrap from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent py-1"
            >
              &lt;/&gt; CodeCrafters
            </div>
          </a>
        </div>
      </nav>
    </header>
    <section class="bg-gray-900 text-white">
      <div
        class="mx-auto max-w-screen-xl px-4 py-12 flex min-h-screen items-center"
      >
        <div class="mx-auto max-w-3xl text-center">
          <div
            class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl py-1"
          >
            CodeCrafters

            <br />Programming Class.
          </div>

          <p class="mx-auto mt-4 max-w-xl sm:text-base/relaxed text-slate-400">
            A 12-week journey through the fundamentals of programming. This
            course offered hands-on learning experiences, from basic programming
            concepts and algorithms with Python to advanced web development
            skills
          </p>
          <p class="text-slate-300 text-sm mt-4 font-normal">
            04/27/2024 - 07/27/2024 | at
            <span class="text-blue-600 font-semibold">Dar Chebab Zagora</span>
          </p>

          <div class="mt-8 flex flex-wrap justify-center gap-4">
            <a
              class="flex justify-center w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
              href="https://discord.gg/uUHZBU2Fa3"
            >
              <div class="flex gap-2 items-center">
                <svg
                  class="size-5 text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M18.942 5.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.586 11.586 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3 17.392 17.392 0 0 0-2.868 11.662 15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.638 10.638 0 0 1-1.706-.83c.143-.106.283-.217.418-.331a11.664 11.664 0 0 0 10.118 0c.137.114.277.225.418.331-.544.328-1.116.606-1.71.832a12.58 12.58 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM8.678 14.813a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.929 1.929 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"
                  />
                </svg>
                Discord
              </div>
            </a>

            <a
              class="flex justify-center w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
              href="/curriculum"
            >
              <div class="flex gap-2 items-center">
                <svg
                  class="size-5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5"
                  />
                </svg>

                Curriculum
              </div>
            </a>
          </div>
          <div class="flex justify-center mt-4">
            <a
              href="/validate "
              class="text-slate-600 underline hover:text-slate-200"
              >Validate certificates</a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
